.albums-list {
  margin: 0 auto;
  margin-top: 50px;
  width: 35%;
  text-align: center;
}

.albums-list .info {
  color: #909090;
  font-size: 2vw;
}

.unique-error {
  color: #a94442;
  text-align: left;
  font-size: 18px;
}

.add-album .form-group {
  display: inline-block;
  width: 65%;
}
.add-album .btn-primary {
  margin-left: 4%;
  width: 31%;
}

.albums-list .content {
  margin-top: 30px;
}