.albums-list-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 5px 0;
  cursor: pointer;
}

.albums-list-row:hover {
  background-color: #f2f2f2;
}

.albums-list-row:hover .edit-and-remove button{
  background-color: #f2f2f2;
  visibility: visible;
}

.albums-list-row p {
  font-size: 20px;
  margin: 0;
}

.albums-list-row .edit-and-remove button {
  border-radius: 50%;
  background-image: none;
  visibility: hidden;
  border: none;
  box-shadow: none;
}

.albums-list-row .edit-and-remove button:focus {
  outline: none;
}